.home {
  background-image: url("./assets/images/yellow.png");
  background-size: contain;

  .title {
    text-align: center;
    padding: 200px 0px;

    .cta {
      margin-top: 28px;
    }
  }

  section {
    margin-bottom: 280px;

    &:last-child {
      padding-bottom: 280px;
      margin-bottom: 0px;
    }

    &:first-child {
      padding-bottom: 200px;
      margin-bottom: 0px;
    }

    h2 {
      color: $black;
    }
  }

  .story {

    .video__wrapper {
      position: relative;
      overflow: hidden;
      width: 50%;
      height: 300px;
      margin: 0;
      border-radius: 36px;
      box-shadow: 0px 2px 6px 0px rgba(144, 144, 144, 0.7);
      background: black;
    }

    .video {
      position: absolute;
      width: 100%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    .flex {
      display: flex;
    }

    .card {
      width: 50%;
      background: white;
      padding: 40px;
      margin: 0px 40px 0px 0px;
      border-radius: 36px;
      box-shadow: $box-shadow;
    }

    @media screen and (max-width:$sm) {
      .card {
        width: 100%;
      }

      .flex {
        flex-direction: column;
      }

      figure {
        margin-top: 50px;
        width: 100%;
      }

    }
  }

  .content {
    background: white;
    box-shadow: $box-shadow;
    border-radius: 36px;
    padding: 36px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    a {
      color: #040406;
    }
  }

  .links {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 280px;
  }

  @media screen and (max-width:$sm) {
    .links .button {
      margin-bottom: 28px;
    }
  }
}

@media screen and (max-width:$sm) {
  .home {
    background-size: 250%;
    background-position: center;
  }
}
