body {
  font-family: 'Source Sans Pro';
}

p {
  line-height: 27px;
  font-size: 18px;
  font-family: 'Source Sans Pro';
}

label {
  font-family: 'Source Sans Pro';
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Montserrat';
}

h1 {
  font-size: 54px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 20px;
}

li {
  font-size: 16px;
  line-height: 24px;
}

@media screen and (max-width:$sm) {
  h1 {
    font-size: 42px;
  }
}
