// COLORS //////////////
$white: #faf8f9;
$black: #040406;
$blue: #2f59a3;
$red: #e73d26;
$yellow: #f3d54f;
//////////////////
// PADDING
$padding-nav-y: 8rem;
$padding-nav-x: 1rem;
$header-padding: 0px 8px;
//////////////////
// BREAKPOINTS
$xs: 0px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
//////////////////
// BOX-SHADOW
$box-shadow: 0px 2px 6px 0px rgba($color: #909090, $alpha: 0.7)
