<footer class="footer">
  <div class="container">
    <div class="logo">
      <a routerLink="/home"
        ><img src="../../../assets/images/logo.png" alt="" class="footer__logo"
      /></a>
    </div>

    <nav>
      <ul>
        <li><a routerLink="/artists">Artistes</a></li>
        <li><a routerLink="/news">News</a></li>
        <li><a routerLink="/contact">Contactez-nous</a></li>
        <li><a routerLink="/benevoles">Devenir bénévole</a></li>
        <li><a routerLink="/shop">Boutique</a></li>
      </ul>
    </nav>
    <nav>
      <ul class="social-network">
        <li>
          <a target="_blank" href="https://www.instagram.com/ajafestofficiel/"
            ><span class="icon icon-facebook2"></span
          ></a>
        </li>
        <li>
          <a target="_blank" href="https://www.facebook.com/AJAFEST19"
            ><span class="icon icon-instagram"></span
          ></a>
        </li>
      </ul>
    </nav>
  </div>
</footer>
<div class="signature">Website made by Mathieu Leitner</div>
