.articles-details {
  background-image: url("./assets/images/yellow.png");
  background-size: contain;
  padding-bottom: 100px;

  .article {
    &__intro {
      text-align: center;
      padding: 160px 0px 80px;
    }

    &__content {
      padding-top: 100px;
      max-width: 900px;
      margin: auto;
      display: flex;
      flex-direction: column;

      :nth-child(even) {
        align-self: flex-end;
      }

      p {
        max-width: 60%;
        margin-bottom: 80px;
      }

      img {
        height: 480px;
        margin-bottom: 80px;
      }
    }
  }
}
