.banner {
  width: 100%;
  height: 600px;
  overflow: hidden;
  position: relative;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    filter: brightness(0.7)
  }

  &__wrapper {
    width: 70%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__title {
    color: white;
  }

  &__subtitle {
    color: white;
    font-size: 1.8rem;
  }


}

@media screen and (max-width:$md) {
  .banner {
    height: 400px;

    img {
      width: 120%;
    }
  }

  @media screen and (max-width:$sm) {
    .banner {
      height: 300px;

      img {
        width: 150%;
      }
    }
  }
}
